<h1>Alert</h1>

<div class="flex flex-col gap-4">
  <app-alert color="primary">Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="secondary">Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="success">Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="danger">Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="info">Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="gray">Lorem ipsum dolor sit amet</app-alert>

  <app-alert color="primary"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="secondary"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="success"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="danger"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="info"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="gray"><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>

  <app-alert color="primary" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="secondary" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="success" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="danger" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="info" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="gray" dismissable><app-icon>home</app-icon> Lorem ipsum dolor sit amet</app-alert>

  <app-alert color="primary" dismissable>Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="secondary" dismissable>Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="success" dismissable>Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="danger" dismissable>Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="info" dismissable>Lorem ipsum dolor sit amet</app-alert>
  <app-alert color="gray" dismissable>Lorem ipsum dolor sit amet</app-alert>
</div>
