<h1>Radio Group</h1>

<h2>Reactive forms</h2>
<form [formGroup]="form" class="mb-10">
  <app-radio-group formControlName="radioControlExample">
    <app-radio-button value="Test 1">Test 1</app-radio-button>
    <app-radio-button value="Test 2">Test 2</app-radio-button>
    <app-radio-button value="Test 3">Test 3</app-radio-button>
    <app-radio-button value="Test 4" labelPosition="before">Test 4</app-radio-button>
  </app-radio-group>
</form>

<h2>Template driven</h2>

<app-radio-group (valueChange)="logRadioChange($event)">
  <app-radio-button value="Test 1">Test 1</app-radio-button>
  <app-radio-button value="Test 2">Test 2</app-radio-button>
  <app-radio-button value="Test 3" disabled>Test 3</app-radio-button>
  <app-radio-button value="Test 4" labelPosition="before">Test 4</app-radio-button>
</app-radio-group>
