<section>
  <h1>Home</h1>

  <h2 class="mb-4">Choose your theme</h2>

  @if (currentTheme$ | async; as currentTheme) {
    <div class="mb-6 flex flex-wrap gap-3">
      <button
        type="button"
        class="min-w-[150px] btn {{ currentTheme === 'system' ? 'btn-primary' : 'btn-secondary' }}"
        (click)="handleThemeChange('system')"
      >
        <app-icon class="icon-20">monitor</app-icon> System
      </button>
      <button
        type="button"
        class="min-w-[150px] btn {{ currentTheme === 'light' ? 'btn-primary' : 'btn-secondary' }}"
        (click)="handleThemeChange('light')"
      >
        <app-icon class="icon-20">light_mode</app-icon> Light
      </button>
      <button
        type="button"
        class="min-w-[150px] btn {{ currentTheme === 'dark' ? 'btn-primary' : 'btn-secondary' }}"
        (click)="handleThemeChange('dark')"
      >
        <app-icon class="icon-20">dark_mode</app-icon> Dark
      </button>
    </div>
  }

  <div class="mt-12">
    <h3 class="h5">Showcase</h3>
    <ul>
      <li>
        <a class="link text-sm" routerLink="/showcase/accordion-example">Accordion</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/alert-example">Alert</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/alert-popup-example">Alert Popup</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/autocomplete-example">Autocomplete</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/button-example">Button</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/card-example">Card</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/checkbox-example">Checkbox</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/chip-example">Chip</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/dialog-example">Dialog</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/form-field-example">Form Field</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/icon-example">Icon</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/input-example">Input</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/letter-box-example">Letter Box</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/menu-example">Menu</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/multiselect-example">Multiselect</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/paginator-example">Paginator</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/pill-example">Pill</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/progress-bar-example">Progress Bar</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/radio-group-example">Radio Group</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/radio-options-example">Radio Options</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/select-example">Select</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/spinner-example">Spinner</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/table-example">Table</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/tabs-example">Tabs</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/toast-example">Toast</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/toggle-example">Toggle</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/showcase/tooltip-example">Tooltip</a>
      </li>
    </ul>
  </div>

  <div class="mt-12">
    <h3 class="h5">Settings</h3>
    <ul>
      <li>
        <a class="link text-sm" routerLink="/settings/accessibility">Accessibility</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/settings/account">Account</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/settings/appearance">Appearance</a>
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <h3 class="h5">Profiles</h3>
    <ul>
      <li>
        <a class="link text-sm" routerLink="/users/maria" text-sm>Maria</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/users/pedro" text-sm>Pedro</a>
      </li>
      <li>
        <a class="link text-sm" routerLink="/users/sara" text-sm>Sara</a>
      </li>
    </ul>
  </div>
</section>
