<section>
  <h1>Home</h1>

  <h2 class="mb-4">Choose your theme</h2>

  <div class="mb-6 flex flex-wrap gap-3">
    <button
      app-button
      type="button"
      [appearance]="(currentTheme$ | async) === 'system' ? 'primary' : 'secondary'"
      (click)="handleThemeChange('system')"
    >
      <app-icon class="icon-20">monitor</app-icon> System
    </button>
    <button
      app-button
      type="button"
      [appearance]="(currentTheme$ | async) === 'light' ? 'primary' : 'secondary'"
      (click)="handleThemeChange('light')"
    >
      <app-icon class="icon-20">light_mode</app-icon> Light
    </button>
    <button
      app-button
      type="button"
      [appearance]="(currentTheme$ | async) === 'dark' ? 'primary' : 'secondary'"
      (click)="handleThemeChange('dark')"
    >
      <app-icon class="icon-20">dark_mode</app-icon> Dark
    </button>
  </div>

  <div class="mt-12">
    <h3 class="h5">Settings</h3>
    <ul>
      <li>
        <a class="link text-sm" [routerLink]="'/settings/accessibility'">Accessibility</a>
      </li>
      <li>
        <a class="link text-sm" [routerLink]="'/settings/account'">Account</a>
      </li>
      <li>
        <a class="link text-sm" [routerLink]="'/settings/appearance'">Appearance</a>
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <h3 class="h5">Profiles</h3>
    <ul>
      <li>
        <a class="link text-sm" [routerLink]="'/users/maria'" text-sm>Maria</a>
      </li>
      <li>
        <a class="link text-sm" [routerLink]="'/users/pedro'" text-sm>Pedro</a>
      </li>
      <li>
        <a class="link text-sm" [routerLink]="'/users/sara'" text-sm>Sara</a>
      </li>
    </ul>
  </div>
</section>
