<h1>Accordion</h1>

<app-accordion>
  <app-accordion-item>
    <app-accordion-item-header>
      <app-accordion-item-title>Item 1</app-accordion-item-title>
    </app-accordion-item-header>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis excepturi incidunt ipsum deleniti labore,
      tempore non nam doloribus blanditiis veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
    </div>
  </app-accordion-item>
  <app-accordion-item>
    <app-accordion-item-header>
      <app-accordion-item-title>Item 2</app-accordion-item-title>
    </app-accordion-item-header>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis excepturi incidunt ipsum deleniti labore,
      tempore non nam doloribus blanditiis veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
    </div>
  </app-accordion-item>
  <app-accordion-item disabled>
    <app-accordion-item-header>
      <app-accordion-item-title>Item 3</app-accordion-item-title>
    </app-accordion-item-header>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis excepturi incidunt ipsum deleniti labore,
      tempore non nam doloribus blanditiis veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
    </div>
  </app-accordion-item>
</app-accordion>
