<h1>Icon</h1>

<h2>Material Icons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <app-icon>account_circle</app-icon>
  <app-icon color="primary">account_circle</app-icon>
  <app-icon color="secondary">account_circle</app-icon>
  <app-icon color="success">account_circle</app-icon>
  <app-icon color="danger">account_circle</app-icon>
  <app-icon color="info">account_circle</app-icon>
  <app-icon color="gray">account_circle</app-icon>
  <app-icon color="black">account_circle</app-icon>
</div>

<h2>Material Icons Outlined</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <app-icon outlined>account_circle</app-icon>
  <app-icon outlined color="primary">account_circle</app-icon>
  <app-icon outlined color="secondary">account_circle</app-icon>
  <app-icon outlined color="success">account_circle</app-icon>
  <app-icon outlined color="danger">account_circle</app-icon>
  <app-icon outlined color="info">account_circle</app-icon>
  <app-icon outlined color="gray">account_circle</app-icon>
  <app-icon outlined color="black">account_circle</app-icon>
</div>
