<h1>Input</h1>

<h2>Reactive forms</h2>
<form [formGroup]="form" class="mb-10">
  <app-form-field>
    <input appInput type="text" formControlName="firstInputControl" />
    <app-label>Input Control Example</app-label>
  </app-form-field>
  <app-form-field>
    <app-label>Input Control Example</app-label>
    <textarea appInput formControlName="secondInputControl"></textarea>
    @if (form.controls.secondInputControl | showControlError: 'required') {
      <app-error>{{ 'forms.controls.errors.required' | translate }}</app-error>
    }
  </app-form-field>
</form>

<h2>Template driven</h2>

<app-form-field>
  <app-label>Input Example</app-label>
  <input appInput type="text" (change)="logInputChange($event)" />
</app-form-field>
