<h1>Button</h1>

<h2>Standard Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-button type="button" appearance="primary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="secondary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="outline">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="link">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="danger">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="success">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
</div>

<h2>Standard Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-button type="button" appearance="primary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="secondary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="outline" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="link" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="danger" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-button type="button" appearance="success" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
</div>

<h2>Link Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-button routerLink="/" type="button" appearance="primary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" appearance="secondary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" appearance="outline">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" appearance="link">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" appearance="danger">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" appearance="success">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
</div>

<h2>Link Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-button routerLink="/" type="button" disabled appearance="primary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" disabled appearance="secondary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" disabled appearance="outline">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" disabled appearance="link">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" disabled appearance="danger">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-button routerLink="/" type="button" disabled appearance="success">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
</div>

<h2>Icon Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-icon-button type="button" appearance="primary">
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="secondary">
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="outline">
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="base">
    <app-icon>add</app-icon>
  </button>
</div>

<h2>Icon Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-icon-button type="button" appearance="primary" disabled>
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="secondary" disabled>
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="outline" disabled>
    <app-icon>add</app-icon>
  </button>

  <button app-icon-button type="button" appearance="base" disabled>
    <app-icon>add</app-icon>
  </button>
</div>

<h2>Icon Link Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-icon-button routerLink="/" type="button" appearance="primary">
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="secondary">
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="outline">
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="base">
    <app-icon>add</app-icon>
  </a>
</div>

<h2>Icon Link Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-icon-button routerLink="/" type="button" appearance="primary" disabled>
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="secondary" disabled>
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="outline" disabled>
    <app-icon>add</app-icon>
  </a>

  <a app-icon-button routerLink="/" type="button" appearance="base" disabled>
    <app-icon>add</app-icon>
  </a>
</div>

<h2>Rounded Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-rounded-button type="button" color="primary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="secondary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="success">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="danger">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="info">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="gray">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="base">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
</div>

<h2>Rounded Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <button app-rounded-button type="button" color="primary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="secondary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="success" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="danger" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="info" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="gray" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
  <button app-rounded-button type="button" color="base" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </button>
</div>

<h2>Rounded Link Buttons</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-rounded-button routerLink="/" color="primary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="secondary">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="success">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="danger">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="info">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="gray">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="base">
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
</div>

<h2>Rounded Link Buttons disabled</h2>
<div class="mb-10 flex flex-wrap gap-4">
  <a app-rounded-button routerLink="/" color="primary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="secondary" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="success" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="danger" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="info" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="gray" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
  <a app-rounded-button routerLink="/" color="base" disabled>
    <app-icon>add</app-icon>
    Label
    <app-icon iconPositionEnd>add</app-icon>
  </a>
</div>
