<h1>Tabs</h1>

<h2>Tabs Group</h2>

<app-tabs-group (tabChange)="onTabChange($event)" class="mb-10">
  <app-tab label="Tab 1 Title">Tab 1 Content</app-tab>
  <app-tab label="Tab 2 Title">Tab 2 Content</app-tab>
  <app-tab label="Tab 3 Title">Tab 3 Content</app-tab>
  <app-tab label="Tab 4 Title">Tab 4 Content</app-tab>
</app-tabs-group>

<h2>Tabs Nav Group</h2>

<app-tabs-nav-group>
  <a app-tab-nav-link routerLink="tab-1">Tab one</a>
  <a app-tab-nav-link routerLink="tab-2">Tab two</a>
  <a app-tab-nav-link routerLink="tab-3">Tab three</a>
  <router-outlet />
</app-tabs-nav-group>
