.btn {
  @apply w-full md:w-auto;
  @apply rounded-lg border border-transparent outline-hidden;
  @apply h-10 min-w-20 px-3 py-2;
  @apply relative inline-flex items-center justify-center;
  @apply text-center text-sm leading-none font-medium;
  @apply cursor-pointer select-none;
}

.btn:disabled {
  @apply cursor-not-allowed opacity-80;
}

.btn:not(:disabled):focus {
  @apply ring-2 ring-gray-400 ring-offset-2 dark:ring-zinc-700;
}

.btn-fit {
  @apply min-w-fit;
}

.btn-secondary {
  @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-700 dark:text-white;
}

.btn-secondary:not(:disabled):hover {
  @apply bg-zinc-200/80 dark:bg-zinc-700/80;
}

.btn-primary {
  @apply bg-blue-500 text-white;
}

.btn-primary:not(:disabled):hover {
  @apply bg-blue-500/80;
}
